:root {
  --bgDefualt:#f2f2f2;
  --bgColor:#FEFBFF;
  --bgForcus:#EB0100;
  --bgHover:#FF1517;
  --colorContent:#7D7573;
  --font_title:24px;
  --font_subTitle:18px;
  --font_text:13px;
  --font_subContent:10px;
  --font_icon:13px;
  --headerHeight:10%;
  --footerHeight:100px;
  --homeCardWidth:150px;
  --homeCardheight:150px;
  --logoHeight:70px;
  --slideHeight:90%;
  --fontWeightTitle:700;
}

.home_wrapper {
  width: 100%;
  height: 100%;
  background-color: var(--bgDefualt);
  font-family: "Open Sans", sans-serif;
}
.home_wrapper main.mainContainer {
  width: 100%;
  height: var(--slideHeight);
}
.home_wrapper main.mainContainer .slideShow {
  width: 100%;
  height: 100%;
  display: flex;
}
.home_wrapper main.mainContainer .slideShow img {
  width: 100%;
  height: 100%;
}
.home_wrapper main.mainContainer .programSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.home_wrapper main.mainContainer .programSection .programTitle {
  padding: 50px 0 35px 0;
}
.home_wrapper main.mainContainer .programSection .programTitle h1 {
  font-size: var(--font_title);
  font-weight: var(--fontWeightTitle);
  color: #DC2626;
}
.home_wrapper main.mainContainer .programSection .programContainer {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
}
.home_wrapper main.mainContainer .programSection .programContainer .programCard {
  width: 100%;
  background-color: var(--bgColor);
  padding: 30px;
  cursor: pointer;
}
.home_wrapper main.mainContainer .programSection .programContainer .programCard a {
  text-decoration: none;
  color: black;
}
.home_wrapper main.mainContainer .programSection .programContainer .programCard a .programObject {
  width: 100px;
}
.home_wrapper main.mainContainer .programSection .programContainer .programCard a .programObject img {
  width: 100%;
  height: 100%;
}
.home_wrapper main.mainContainer .programSection .programContainer .programCard a .programSubtitle h2 {
  font-size: var(--font_subTitle);
  font-weight: 600;
  padding: 10px 0;
}
.home_wrapper main.mainContainer .programSection .programContainer .programCard a article.aboutProgram {
  font-size: 13px;
  color: var(--colorContent);
}
.home_wrapper main.mainContainer .programSection .programContainer .programCard:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.home_wrapper main.mainContainer .videoSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  background-color: var(--bgColor);
  padding: 15px;
}
.home_wrapper main.mainContainer .videoSection .videoContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_wrapper main.mainContainer .videoSection .videoContainer .video iframe {
  width: 750px;
  height: 315px;
}
.home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer {
  width: 50%;
  align-self: self-start;
  padding: 0 30px;
}
.home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer .videoSubtitle h2 {
  font-size: 24px;
  font-weight: var(--fontWeightTitle);
  color: #DC2626;
}
.home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer .videoDate {
  font-size: 14px;
  color: var(--colorContent);
  padding-bottom: 10px;
}
.home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer .videoDate .bx-time-five {
  color: red;
}
.home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer .videoDetail {
  text-align: justify;
  font-size: var(--font_text);
}
.home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer .seeMorevideo {
  width: 100%;
  display: flex;
  justify-content: end;
}
.home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer .seeMorevideo button {
  cursor: pointer;
  padding: 10px;
  font-size: 15px;
  background-color: red;
  outline: none;
  border: none;
  border-radius: 5px;
}
.home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer .seeMorevideo button a {
  text-decoration: none;
  color: white;
}
.home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer .seeMorevideo button:hover {
  background-color: rgba(255, 0, 0, 0.692);
}
.home_wrapper main.mainContainer .activitySection {
  width: 100%;
  margin-top: 20px;
}
.home_wrapper main.mainContainer .activitySection .activityContainer {
  width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_wrapper main.mainContainer .activitySection .activityContainer .activityImage {
  width: 50%;
  height: 70vh;
  background-color: black;
  position: relative;
}
.home_wrapper main.mainContainer .activitySection .activityContainer .activityImage img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
}
.home_wrapper main.mainContainer .activitySection .activityContainer .activityImage .activitytext {
  position: absolute;
  bottom: 5%;
  left: 50%;
  translate: -50% 0;
  color: white;
}
.home_wrapper main.mainContainer .activitySection .activityContainer .activityImage .activitytext .activitySubtittle {
  font-size: var(--font_title);
}
.home_wrapper main.mainContainer .activitySection .activityContainer .activityImage .activitytext .activityDetail {
  font-size: var(--font_text);
}
.home_wrapper main.mainContainer .aboutUsImpactAchievement .aboutImpactAchieveContainer {
  display: flex;
  padding: 50px 150px;
}
.home_wrapper main.mainContainer .aboutUsImpactAchievement .aboutImpactAchieveContainer .content {
  position: relative;
  width: 50%;
  height: 50vh;
  color: white;
}
.home_wrapper main.mainContainer .aboutUsImpactAchievement .aboutImpactAchieveContainer .content img {
  width: 100%;
  height: 100%;
  opacity: 0.85;
  border-radius: 5px 0 0 5px;
}
.home_wrapper main.mainContainer .aboutUsImpactAchievement .aboutImpactAchieveContainer .content .subtitleNumContainer {
  position: absolute;
  bottom: 5%;
  font-size: 13px;
  padding: 0 50px;
  opacity: 1;
}
.home_wrapper main.mainContainer .aboutUsImpactAchievement .aboutImpactAchieveContainer .content.contentImg {
  background-color: black;
  border-radius: 5px 0 0 5px;
}
.home_wrapper main.mainContainer .aboutUsImpactAchievement .aboutImpactAchieveContainer .content.contentBg1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid #DC2626;
  border-left: none;
  border-radius: 0 5px 5px 0;
}
.home_wrapper main.mainContainer .aboutUsImpactAchievement .aboutImpactAchieveContainer .content.contentBg1 .contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bgColor);
  border-radius: 0 5px 5px 0;
}
.home_wrapper main.mainContainer .aboutUsImpactAchievement .aboutImpactAchieveContainer .content.contentBg1 .contentContainer .num {
  font-size: 32px;
  color: #DC2626;
}
.home_wrapper main.mainContainer .aboutUsImpactAchievement .aboutImpactAchieveContainer .content.contentBg1 .contentContainer .subtitle {
  font-size: 15px;
  color: #A8A196;
}
.home_wrapper main.mainContainer .aboutUsImpactAchievement .aboutImpactAchieveContainer .content.contentBg1 .achievmentTitle {
  grid-column: 1/span 2;
  background-color: #DC2626;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font_title);
}
.home_wrapper main.mainContainer .teamsSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.home_wrapper main.mainContainer .teamsSection .teamsTitle {
  padding: 50px 0 35px 0;
}
.home_wrapper main.mainContainer .teamsSection .teamsTitle h1 {
  font-size: var(--font_title);
  font-weight: var(--fontWeightTitle);
  color: red;
}
.home_wrapper main.mainContainer .teamsSection .teamContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
}
.home_wrapper main.mainContainer .teamsSection .teamContainer .teamCard {
  width: 100%;
  height: 80vh;
  border-radius: 10px;
  background-color: var(--bgColor);
  cursor: pointer;
}
.home_wrapper main.mainContainer .teamsSection .teamContainer .teamCard a {
  width: 100%;
  text-decoration: none;
  color: black;
}
.home_wrapper main.mainContainer .teamsSection .teamContainer .teamCard a .teamImage {
  width: 100%;
  height: 40%;
  border-radius: 10px;
  position: relative;
}
.home_wrapper main.mainContainer .teamsSection .teamContainer .teamCard a .teamImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.home_wrapper main.mainContainer .teamsSection .teamContainer .teamCard a .teamImage .grayScreen {
  display: none;
}
.home_wrapper main.mainContainer .teamsSection .teamContainer .teamCard a .teamLeader {
  width: 100%;
  position: relative;
  height: 13%;
}
.home_wrapper main.mainContainer .teamsSection .teamContainer .teamCard a .teamLeader .leader {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  top: -30px;
  left: 5%;
}
.home_wrapper main.mainContainer .teamsSection .teamContainer .teamCard a .teamLeader .leader img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid white;
}
.home_wrapper main.mainContainer .teamsSection .teamContainer .teamCard a .teamLeader .teamPosition {
  padding-left: 33%;
  font-size: 18px;
  color: gray;
  padding-top: 10px;
}
.home_wrapper main.mainContainer .teamsSection .teamContainer .teamCard a .teamSubtitle {
  padding: 10px 30px;
}
.home_wrapper main.mainContainer .teamsSection .teamContainer .teamCard a .teamSubtitle h2 {
  font-size: var(--font_subTitle);
  font-weight: 500;
  padding: 10px 0 5px 0;
}
.home_wrapper main.mainContainer .teamsSection .teamContainer .teamCard a article.aboutteam {
  padding: 0 30px;
  font-size: 15px;
  color: var(--colorContent);
}
.home_wrapper main.mainContainer .teamsSection .teamContainer .teamCard:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.home_wrapper main.mainContainer .teamsSection .teamContainer .teamCard:hover a .teamImage .grayScreen {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.591);
  border-radius: 10px;
}
.home_wrapper main.mainContainer .partnerSection {
  padding: 30px 0;
}
.home_wrapper main.mainContainer .partnerSection .title {
  text-align: center;
  padding: 30px 0;
  font-size: var(--font_title);
  font-weight: var(--fontWeightTitle);
  color: #DC2626;
}
.home_wrapper main.mainContainer .partnerSection .partnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.home_wrapper main.mainContainer .partnerSection .partnerContainer .partner {
  width: 15%;
}
.home_wrapper main.mainContainer .partnerSection .partnerContainer .partner img {
  width: 100%;
  aspect-ratio: 3/2;
  -o-object-fit: contain;
     object-fit: contain;
  mix-blend-mode: darken;
}
.home_wrapper main.mainContainer .sponsorSection {
  padding: 30px 0;
}
.home_wrapper main.mainContainer .sponsorSection .title {
  text-align: center;
  padding: 30px 0;
  font-size: var(--font_title);
  font-weight: var(--fontWeightTitle);
  color: #DC2626;
}
.home_wrapper main.mainContainer .sponsorSection .sponsorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.home_wrapper main.mainContainer .sponsorSection .sponsorContainer .sponsor {
  width: 15%;
}
.home_wrapper main.mainContainer .sponsorSection .sponsorContainer .sponsor img {
  width: 100%;
  aspect-ratio: 3/2;
  -o-object-fit: contain;
     object-fit: contain;
  mix-blend-mode: darken;
}
.home_wrapper .to_top {
  background-color: rgba(128, 128, 128, 0.635);
  border: 2px solid white;
  position: fixed;
  bottom: 16px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: var(--bgForcus);
  pointer-events: none;
  transition: all 0.5s;
  opacity: 0;
  text-decoration: none;
  z-index: 20;
}
.home_wrapper .to_top:hover {
  color: white;
  border-color: red;
}
.home_wrapper .to_top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
  z-index: 7;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 885px) {
  .home_wrapper main.mainContainer {
    width: 100%;
    height: 100%;
  }
  .home_wrapper main.mainContainer .programSection .programContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
  }
  .home_wrapper main.mainContainer .programSection .programContainer .programCard {
    width: 100%;
  }
  .home_wrapper main.mainContainer .videoSection .videoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer {
    width: 100%;
  }
  .home_wrapper main.mainContainer .teamsSection .teamContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  .home_wrapper main.mainContainer .teamsSection .teamContainer .teamCard {
    width: 100%;
  }
}
@media (max-width: 428px) {
  .home_wrapper main.mainContainer {
    width: 100%;
    height: var(--slideHeight);
  }
  .home_wrapper main.mainContainer .slideShow {
    width: 100%;
    height: 250px;
    display: flex;
  }
  .home_wrapper main.mainContainer .programSection .programContainer {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 20px;
  }
  .home_wrapper main.mainContainer .programSection .programContainer .programCard {
    width: 100%;
    background-color: var(--bgColor);
    padding: 30px;
    cursor: pointer;
  }
  .home_wrapper main.mainContainer .programSection .programContainer .programCard a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home_wrapper main.mainContainer .programSection .programContainer .programCard a .programObject {
    width: 30%;
  }
  .home_wrapper main.mainContainer .programSection .programContainer .programCard a .subtitleDetail {
    width: 70%;
  }
  .home_wrapper main.mainContainer .videoSection .videoContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home_wrapper main.mainContainer .videoSection .videoContainer .video iframe {
    width: 400px;
    height: 255px;
  }
  .home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer {
    width: 100%;
    padding: 10px 30px;
  }
  .home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer .videoDate {
    font-size: 14px;
    color: var(--colorContent);
    padding-bottom: 10px;
  }
  .home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer .videoDetail {
    text-align: justify;
  }
  .home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer .seeMorevideo {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  .home_wrapper main.mainContainer .teamsSection .teamContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 20px;
  }
  .home_wrapper main.mainContainer .teamsSection .teamContainer .teamCard {
    width: 100%;
    border-radius: 10px;
    background-color: var(--bgColor);
    cursor: pointer;
  }
}/*# sourceMappingURL=homePage.css.map */