:root {
  --bgDefualt:#f2f2f2;
  --bgColor:#FEFBFF;
  --bgForcus:#EB0100;
  --bgHover:#FF1517;
  --colorContent:#7D7573;
  --font_title:36px;
  --font_subTitle:18px;
  --font_text:15px;
  --font_subContent:10px;
  --font_icon:13px;
  --headerHeight:10%;
  --footerHeight:100px;
  --homeCardWidth:150px;
  --homeCardheight:150px;
  --logoHeight:70px;
  --slideHeight:90%;
  --fontWeightTitle:700;
}

.image_bg {
  width: 100vh;
  height: 100vh;
  background-image: url("../assets/img/logo-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  right: 25vw;
  z-index: -1;
  opacity: 0.2;
}

.home_wrapper {
  width: 100%;
  height: 100%;
  min-width: 390px;
  background-color: var(--bgDefualt);
  font-family: "Open Sans", sans-serif;
}
.home_wrapper main.mainContainer {
  width: 100%;
  height: var(--slideHeight);
}
.home_wrapper main.mainContainer .slideShow {
  width: 100%;
  height: 100%;
  display: flex;
}
.home_wrapper main.mainContainer .slideShow img {
  width: 100%;
  height: 100%;
}
.home_wrapper main.mainContainer .programSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.home_wrapper main.mainContainer .programSection .programTitle {
  padding: 50px 0 35px 0;
}
.home_wrapper main.mainContainer .programSection .programTitle h1 {
  font-size: var(--font_title);
  font-weight: var(--fontWeightTitle);
  color: #DC2626;
}
.home_wrapper main.mainContainer .programSection .programContainer {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
}
.home_wrapper main.mainContainer .programSection .programContainer .programCard {
  width: 100%;
  background-color: var(--bgColor);
  padding: 30px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 5px;
}
.home_wrapper main.mainContainer .programSection .programContainer .programCard a {
  text-decoration: none;
  color: black;
}
.home_wrapper main.mainContainer .programSection .programContainer .programCard a .programObject {
  width: 100px;
}
.home_wrapper main.mainContainer .programSection .programContainer .programCard a .programObject img {
  width: 100%;
  aspect-ratio: 3/2;
  -o-object-fit: contain;
     object-fit: contain;
}
.home_wrapper main.mainContainer .programSection .programContainer .programCard a .programSubtitle h2 {
  font-size: var(--font_subTitle);
  font-weight: 600;
  padding: 10px 0;
  color: #DC2626;
}
.home_wrapper main.mainContainer .programSection .programContainer .programCard a article.aboutProgram {
  font-size: 13px;
  color: var(--colorContent);
}
.home_wrapper main.mainContainer .programSection .programContainer .programCard:hover {
  transform: scale(0.99);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.home_wrapper main.mainContainer .videoSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  background-color: var(--bgColor);
  padding: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.home_wrapper main.mainContainer .videoSection .videoContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer {
  width: 50%;
  align-self: self-start;
  padding: 0 30px;
}
.home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer .videoSubtitle h2 {
  font-size: 24px;
  font-weight: var(--fontWeightTitle);
  color: #DC2626;
}
.home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer .videoDate {
  font-size: 14px;
  color: var(--colorContent);
  padding-bottom: 10px;
}
.home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer .videoDate .bx-time-five {
  color: red;
}
.home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer .videoDetail {
  font-size: var(--font_text);
  color: #7D7573;
  text-align: justify;
}
.home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer .videoDetail p::first-letter {
  font-size: 3em; /* You can adjust the font size as needed */
  line-height: 0.95; /* Adjust the line height to make it span two rows */
  float: left; /* Ensures the text wraps around the first letter */
  margin-right: 5px; /* Adds some space between the first letter and the text */
  color: #DC2626;
  font-weight: 600;
}
.home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer .videoDetail.vd2, .home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer .videoDetail.vd3 {
  display: none;
}
.home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer .seeMorevideo {
  width: 100%;
  display: flex;
  justify-content: end;
}
.home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer .seeMorevideo button {
  cursor: pointer;
  padding: 10px;
  font-size: 15px;
  background-color: red;
  outline: none;
  border: none;
  border-radius: 5px;
}
.home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer .seeMorevideo button a {
  text-decoration: none;
  color: white;
}
.home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer .seeMorevideo button:hover {
  background-color: rgba(255, 0, 0, 0.692);
}
.home_wrapper main.mainContainer .activitySection {
  width: 100%;
  margin-top: 20px;
}
.home_wrapper main.mainContainer .activitySection .activityContainer {
  width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_wrapper main.mainContainer .activitySection .activityContainer .activityImage {
  width: 50%;
  height: 75vh;
  background-color: black;
  position: relative;
}
.home_wrapper main.mainContainer .activitySection .activityContainer .activityImage img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
}
.home_wrapper main.mainContainer .activitySection .activityContainer .activityImage .activitytext {
  width: 70%;
  position: absolute;
  bottom: 10%;
  left: 15%;
  color: white;
}
.home_wrapper main.mainContainer .activitySection .activityContainer .activityImage .activitytext .activitySubtittle {
  font-size: 24px;
  font-weight: 600;
}
.home_wrapper main.mainContainer .activitySection .activityContainer .activityImage .activitytext .activityDetail {
  font-size: var(--font_text);
  text-align: justify;
}
.home_wrapper main.mainContainer .teamsSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.home_wrapper main.mainContainer .teamsSection .teamsTitle {
  padding: 50px 0 35px 0;
}
.home_wrapper main.mainContainer .teamsSection .teamsTitle h1 {
  font-size: var(--font_title);
  font-weight: var(--fontWeightTitle);
  color: red;
}
.home_wrapper main.mainContainer .teamsSection .teamContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.home_wrapper main.mainContainer .teamsSection .teamContainer .teamCard {
  width: 100%;
  height: 70vh;
  border-radius: 5px;
  background-color: var(--bgColor);
  cursor: pointer;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.home_wrapper main.mainContainer .teamsSection .teamContainer .teamCard a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
}
.home_wrapper main.mainContainer .teamsSection .teamContainer .teamCard a .teamImage {
  width: 100%;
  height: 55%;
  position: relative;
}
.home_wrapper main.mainContainer .teamsSection .teamContainer .teamCard a .teamImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.home_wrapper main.mainContainer .teamsSection .teamContainer .teamCard a .teamImage .grayScreen {
  display: none;
}
.home_wrapper main.mainContainer .teamsSection .teamContainer .teamCard a .teamDetail {
  width: 60%;
  background-color: white;
  position: absolute;
  top: 70%;
  left: 50%;
  translate: -50% -50%;
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home_wrapper main.mainContainer .teamsSection .teamContainer .teamCard a .teamDetail .teamSubtitle {
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 20px;
  color: #DC2626;
}
.home_wrapper main.mainContainer .teamsSection .teamContainer .teamCard a .teamDetail .aboutTeam {
  text-align: center;
}
.home_wrapper main.mainContainer .teamsSection .teamContainer .teamCard.teamCard:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.home_wrapper main.mainContainer .teamsSection .teamContainer .teamCard.teamCard:hover a .teamImage .grayScreen {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px 5px 0 0;
}
.home_wrapper main.mainContainer .teamsSection .teamContainer .teamCard.teamCard:hover a .teamDetail {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 5px;
}
.home_wrapper main.mainContainer .aboutUsImpactAchievement {
  padding: 20px;
}
.home_wrapper main.mainContainer .aboutUsImpactAchievement .aboutImpactAchieveContainer {
  display: flex;
  border: 1px solid #DC2626;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.home_wrapper main.mainContainer .aboutUsImpactAchievement .aboutImpactAchieveContainer .content {
  position: relative;
  width: 50%;
  height: 60vh;
  color: white;
}
.home_wrapper main.mainContainer .aboutUsImpactAchievement .aboutImpactAchieveContainer .content img {
  width: 100%;
  height: 100%;
  opacity: 0.85;
  border-radius: 5px 0 0 5px;
}
.home_wrapper main.mainContainer .aboutUsImpactAchievement .aboutImpactAchieveContainer .content .subtitleNumContainer {
  position: absolute;
  bottom: 5%;
  font-size: 18px;
  padding: 0 50px;
  opacity: 1;
}
.home_wrapper main.mainContainer .aboutUsImpactAchievement .aboutImpactAchieveContainer .content.contentImg {
  background-color: black;
  border-radius: 5px 0 0 5px;
}
.home_wrapper main.mainContainer .aboutUsImpactAchievement .aboutImpactAchieveContainer .content.contentBg1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-left: none;
  border-radius: 0 5px 5px 0;
}
.home_wrapper main.mainContainer .aboutUsImpactAchievement .aboutImpactAchieveContainer .content.contentBg1 .contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bgColor);
  border-radius: 0 5px 5px 0;
}
.home_wrapper main.mainContainer .aboutUsImpactAchievement .aboutImpactAchieveContainer .content.contentBg1 .contentContainer .num {
  font-size: 32px;
  color: #DC2626;
}
.home_wrapper main.mainContainer .aboutUsImpactAchievement .aboutImpactAchieveContainer .content.contentBg1 .contentContainer .subtitle {
  font-size: 15px;
  color: #A8A196;
}
.home_wrapper main.mainContainer .aboutUsImpactAchievement .aboutImpactAchieveContainer .content.contentBg1 .achievmentTitle {
  grid-column: 1/span 3;
  background-color: #DC2626;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font_title);
}
.home_wrapper main.mainContainer .partnerSection {
  padding: 30px 0;
}
.home_wrapper main.mainContainer .partnerSection .title {
  text-align: center;
  padding: 30px 0;
  font-size: var(--font_title);
  font-weight: var(--fontWeightTitle);
  color: #DC2626;
}
.home_wrapper main.mainContainer .partnerSection .partnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.home_wrapper main.mainContainer .partnerSection .partnerContainer .partner {
  width: 15%;
}
.home_wrapper main.mainContainer .partnerSection .partnerContainer .partner img {
  width: 100%;
  aspect-ratio: 3/2;
  -o-object-fit: contain;
     object-fit: contain;
  mix-blend-mode: darken;
}
.home_wrapper main.mainContainer .sponsorSection {
  padding: 30px 0;
}
.home_wrapper main.mainContainer .sponsorSection .title {
  text-align: center;
  padding: 30px 0;
  font-size: var(--font_title);
  font-weight: var(--fontWeightTitle);
  color: #DC2626;
}
.home_wrapper main.mainContainer .sponsorSection .sponsorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.home_wrapper main.mainContainer .sponsorSection .sponsorContainer .sponsor {
  width: 15%;
}
.home_wrapper main.mainContainer .sponsorSection .sponsorContainer .sponsor img {
  width: 100%;
  aspect-ratio: 3/2;
  -o-object-fit: contain;
     object-fit: contain;
  mix-blend-mode: darken;
}

.to_top {
  background-color: rgba(128, 128, 128, 0.635);
  border: 2px solid white;
  position: fixed;
  bottom: 16px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: var(--bgForcus);
  pointer-events: none;
  transition: all 0.5s;
  opacity: 0;
  text-decoration: none;
  z-index: 20;
}
.to_top:hover {
  color: white;
  border-color: red;
}

.to_top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
  z-index: 7;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 834px) {
  .home_wrapper main.mainContainer {
    width: 100%;
    height: 100%;
  }
  .home_wrapper main.mainContainer .programSection .programContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
  }
  .home_wrapper main.mainContainer .programSection .programContainer .programCard {
    width: 100%;
  }
  .home_wrapper main.mainContainer .videoSection {
    width: 98%;
    margin: 0 20px;
  }
  .home_wrapper main.mainContainer .videoSection .videoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home_wrapper main.mainContainer .videoSection .videoContainer .video {
    width: 100%;
  }
  .home_wrapper main.mainContainer .videoSection .videoContainer .video iframe {
    width: 100%;
    height: 255px;
  }
  .home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer {
    width: 100%;
  }
  .home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer .videoDetail {
    display: none;
  }
  .home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer .videoDetail.vd2 {
    display: block;
  }
  .home_wrapper main.mainContainer .activitySection .activityContainer .activityImage {
    height: 50vh;
  }
  .home_wrapper main.mainContainer .activitySection .activityContainer .activityImage .activitytext {
    width: 98%;
    padding: 10px;
    bottom: 5px;
    left: 10px;
  }
  .home_wrapper main.mainContainer .activitySection .activityContainer .activityImage .activitytext .activitySubtittle {
    font-size: 20px;
  }
  .home_wrapper main.mainContainer .activitySection .activityContainer .activityImage .activitytext .activityDetail {
    font-size: 13px;
  }
  .home_wrapper main.mainContainer .teamsSection .teamContainer {
    gap: 10px;
  }
  .home_wrapper main.mainContainer .teamsSection .teamContainer .teamCard {
    height: 50vh;
  }
  .home_wrapper main.mainContainer .teamsSection .teamContainer .teamCard a .teamDetail .teamSubtitle {
    font-size: 16px;
  }
  .home_wrapper main.mainContainer .teamsSection .teamContainer .teamCard a .teamDetail .aboutTeam {
    text-align: center;
    font-size: 13px;
  }
  .home_wrapper main.mainContainer .aboutUsImpactAchievement .aboutImpactAchieveContainer .content {
    height: 50vh;
  }
  .home_wrapper main.mainContainer .aboutUsImpactAchievement .aboutImpactAchieveContainer .content.contentBg1 .contentContainer .num {
    font-size: 24px;
  }
  .home_wrapper main.mainContainer .aboutUsImpactAchievement .aboutImpactAchieveContainer .content.contentBg1 .contentContainer .subtitle {
    font-size: 12px;
  }
  .home_wrapper main.mainContainer .aboutUsImpactAchievement .aboutImpactAchieveContainer .content.contentBg1 .achievmentTitle {
    font-size: 24px;
  }
}
@media (max-width: 430px) {
  :root {
    --font_title:24px;
  }
  .home_wrapper main.mainContainer {
    width: 100%;
    height: var(--slideHeight);
  }
  .home_wrapper main.mainContainer .slideShow {
    width: 100%;
    height: 200px;
    display: flex;
  }
  .home_wrapper main.mainContainer .programSection .programContainer {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 20px;
  }
  .home_wrapper main.mainContainer .programSection .programContainer .programCard {
    width: 100%;
    background-color: var(--bgColor);
    padding: 30px;
    cursor: pointer;
  }
  .home_wrapper main.mainContainer .programSection .programContainer .programCard a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home_wrapper main.mainContainer .programSection .programContainer .programCard a .programObject {
    width: 30%;
  }
  .home_wrapper main.mainContainer .programSection .programContainer .programCard a .subtitleDetail {
    width: 70%;
  }
  .home_wrapper main.mainContainer .videoSection {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .home_wrapper main.mainContainer .videoSection .videoContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home_wrapper main.mainContainer .videoSection .videoContainer .video {
    width: 100%;
  }
  .home_wrapper main.mainContainer .videoSection .videoContainer .video iframe {
    width: 100%;
    height: 255px;
  }
  .home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer {
    width: 100%;
    padding: 10px 30px;
  }
  .home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer .videoDate {
    font-size: 14px;
    color: var(--colorContent);
    padding-bottom: 10px;
  }
  .home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer .videoDetail {
    text-align: justify;
    display: none;
  }
  .home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer .videoDetail.vd2 {
    display: none;
  }
  .home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer .videoDetail.vd3 {
    display: block;
  }
  .home_wrapper main.mainContainer .videoSection .videoContainer .articleContianer .seeMorevideo {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  .home_wrapper main.mainContainer .activitySection .activityContainer {
    display: block;
  }
  .home_wrapper main.mainContainer .activitySection .activityContainer .activityImage {
    width: 100%;
    height: 50vh;
  }
  .home_wrapper main.mainContainer .activitySection .activityContainer .activityImage .activitytext {
    width: 100%;
    padding: 10px;
    bottom: 0;
    left: 0;
  }
  .home_wrapper main.mainContainer .activitySection .activityContainer .activityImage .activitytext .activitySubtittle {
    font-size: 20px;
  }
  .home_wrapper main.mainContainer .activitySection .activityContainer .activityImage .activitytext .activityDetail {
    font-size: 13px;
  }
  .home_wrapper main.mainContainer .teamsSection .teamContainer {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
  }
  .home_wrapper main.mainContainer .aboutUsImpactAchievement {
    padding: 15px;
  }
  .home_wrapper main.mainContainer .aboutUsImpactAchievement .aboutImpactAchieveContainer {
    display: block;
  }
  .home_wrapper main.mainContainer .aboutUsImpactAchievement .aboutImpactAchieveContainer .content {
    width: 100%;
    height: 35vh;
  }
  .home_wrapper main.mainContainer .aboutUsImpactAchievement .aboutImpactAchieveContainer .content img {
    border-radius: 5px 5px 0 0;
  }
  .home_wrapper main.mainContainer .aboutUsImpactAchievement .aboutImpactAchieveContainer .content.contentImg {
    border-radius: 5px 5px 0 0;
  }
  .home_wrapper main.mainContainer .aboutUsImpactAchievement .aboutImpactAchieveContainer .content.contentBg1 {
    border-radius: 5px;
  }
  .home_wrapper main.mainContainer .aboutUsImpactAchievement .aboutImpactAchieveContainer .content.contentBg1 .contentContainer {
    border-radius: 5px;
  }
  .home_wrapper main.mainContainer .aboutUsImpactAchievement .aboutImpactAchieveContainer .content.contentBg1 .contentContainer .num {
    font-size: 28px;
    color: #DC2626;
  }
  .home_wrapper main.mainContainer .aboutUsImpactAchievement .aboutImpactAchieveContainer .content.contentBg1 .contentContainer .subtitle {
    font-size: 13px;
    color: #A8A196;
  }
}/*# sourceMappingURL=homePage.css.map */