:root{
    --bgDefualt:#f2f2f2;
    --bgColor:#FEFBFF;
    --bgForcus:#EB0100;
    --bgHover:#FF1517;
    --colorContent:#7D7573;

    // font
    --font_title:36px;
    --font_subTitle:18px;
    --font_text:15px;
    --font_subContent:10px;
    --font_icon:13px;

    // width & height
    --headerHeight:10%;//70px;
    --footerHeight:100px;
    --homeCardWidth:150px;
    --homeCardheight:150px;
    --logoHeight:70px;
    --slideHeight:90%;

    --fontWeightTitle:700;


}
.home_wrapper{
    width: 100%;
    height: 100%;
    background-color: var(--bgDefualt);
    font-family: 'Open Sans', sans-serif;
    // header.header{
    //     width: 100%;
    //     height: var(--headerHeight);
    //     background-color: var(--bgColor);
    //     box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    //     padding: 0 20px;
    //     position: sticky;
    //     top: 0;
    //     left: 0;
    //     z-index: 8;
    //     .header__logo{
    //         img{
    //             width: var(--logoHeight);
    //             object-fit: cover;
    //         }
    //     }
    //     .header__menu{
    //         ul{
    //             display: flex;
    //             align-items: center;
    //             justify-content: center;

    //             li{
    //                 list-style-type: none;
    //                 padding: 3px 15px;
    //                 border-right: 1px solid gray;
    //                 transition:0.5s;

    //                 a{
    //                     font-size: var(--font_title);
    //                     font-weight: 700;
    //                     text-decoration: none;
    //                     color: black;
    //                 }
    //             }
    //             li:hover{
    //                 padding: 10px 15px;
    //                 transition: 0.5s;
    //                 a{
    //                     color: var(--bgForcus)
    //                 }
    //                 a:after{
    //                     display: none;
    //                 }
    //             }
    //             .active{
    //                 a{
    //                     color: var(--bgForcus);
    //                 }
    //                 a:after{
    //                     display: block;
    //                     content: '';
    //                     width: 100%;
    //                     height: 2px;
    //                     border-radius: 10px;
    //                     background-color: var(--bgForcus);
    //                 }
    //             }
    //             .about{
    //                 border: none;
    //             }
    //         }
    //     }
    //     .header__manageAccount{
    //         ul{
    //             display: flex;
    //             align-items: center;
    //             justify-content: center;
    //             li{
    //                 font-size: var(--font_subTitle);
    //                 list-style-type: none;
    //                 padding: 10px;
    //                 a{
    //                     color: black;
    //                 }
    //                 img{
    //                     height: 30px;
    //                     border-radius: 50%;
    //                     box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    //                 }
    //             }
    //             li:hover{
    //                 color: var(--bgForcus);
    //                 cursor: pointer;
    //                 a{
    //                     color: var(--bgForcus);
    //                 }
    //                 .headerNotificationContainer{
    //                     a{
    //                         color: black;
    //                     }
    //                 }
    //             }

    //             .headerNotification{
    //                 position: relative;

    //                 .headerNotificationContainer{
    //                     width: 300px;
    //                     height: 85vh;
    //                     background-color: var(--bgColor);
    //                     box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    //                     position: absolute;
    //                     right: 0;
    //                     border-radius: 5px;
    //                     overflow: scroll;
    //                     overflow-y: scroll;
    //                     overflow-x: hidden;
    //                     display: none;

    //                     ul{
    //                         display: block;
    //                         width: 100%;
    //                         li.notificationContent{
    //                             width: 100%;
    //                             font-size: 15px;
    //                             padding: 10px;
    //                             border-bottom: 1px solid rgba(128, 128, 128, 0.566);
    //                             a{
    //                                 text-decoration: none;
    //                                 .notificationTitle{
    //                                     width: 100%;

    //                                 }
    //                                 .notificationDate{
    //                                     width: 100%;
    //                                     font-size: 13px;
    //                                     color: gray;
    //                                 }
    //                             }


    //                         }

    //                     }
    //                     &.headerNotificationContainer:hover{
    //                         color: black;
    //                         li:hover{
    //                             a{
    //                                 color: var(--bgForcus);
    //                             }
    //                         }
    //                     }

    //                 }
    //                 .showNoti{
    //                     display: block;
    //                     transition: 1s;

    //                 }


    //             }
    //             .profileSection{
    //                 position: relative;

    //                 .profileContainer{
    //                     width: 250px;
    //                     height: 35vh;
    //                     background-color: var(--bgColor);
    //                     box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    //                     position: absolute;
    //                     right: 20px;
    //                     border-radius: 5px;
    //                     display: none;

    //                     .personalInfo{


    //                         border-radius: 10px;
    //                         a{
    //                             display: flex;
    //                             align-items: center;
    //                             padding: 10px 20px;
    //                             background-color: #eb000066;
    //                             text-decoration: none;
    //                             color: black;
    //                             border-radius: 10px 10px 0 0;

    //                             .profileImage{
    //                                 padding-right: 30px;

    //                                 img{
    //                                     height: 50px;

    //                                 }

    //                             }
    //                         }


    //                     }
    //                     .loginOrlogout{
    //                         width: 100%;
    //                         position: absolute;
    //                         bottom: 20px;
    //                         align-self: self-end;
    //                         font-size: 20px;
    //                         padding: 10px 20px;
    //                         color: black;

    //                     }
    //                 }

    //                     .personalInfo:hover{
    //                         background-color: #eb00002f;
    //                         a{
    //                             .subtitle{
    //                                 color: white;

    //                             }
    //                         }
    //                     }
    //                     .loginOrlogout:hover{
    //                         background-color: #eb000066;
    //                         color: white;
    //                     }


    //                 .showProfile{
    //                     display: block;
    //                 }
    //             }

    //         }
    //     }
    // }
    main.mainContainer{
        width: 100%;
        height: var(--slideHeight);
        .slideShow{
            width: 100%;
            height: 100%;
            display: flex;

            img{
                width: 100%;
                height: 100%;
            }
        }
        // ------------------ program
        .programSection{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 15px;
                .programTitle{
                    padding: 50px 0 35px 0;

                    h1{
                        font-size: var(--font_title);
                        font-weight: var(--fontWeightTitle);
                        color: #DC2626;

                    }

                }
                .programContainer{
                    display: grid;
                    grid-template-columns: repeat(4,auto);
                    gap: 20px;

                    .programCard{
                        width: 100%;
                        // height: 55vh;
                        background-color: var(--bgColor);
                        padding: 30px;
                        cursor: pointer;
                        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
                        border-radius: 5px;
                        a{
                            text-decoration: none;
                            color: black;
                            .programObject{
                                width: 100px;
                                img{
                                    width: 100%;
                                    aspect-ratio: 3/2;
                                    object-fit: contain;
                                    // mix-blend-mode:darken;
                                }
                            }
                            .programSubtitle{
                                h2{
                                    font-size: var(--font_subTitle);
                                    font-weight: 600;
                                    padding: 10px 0;
                                    color: #DC2626;
                                }
                            }
                            article.aboutProgram{
                                font-size: 13px;
                                color: var(--colorContent);

                            }
                        }

                    }
                    .programCard:hover{
                        transform: scale(0.99);
                        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
                    }
                }
        }

        // ------------------ video
        .videoSection{
            width: 100%;
            display: flex;
            flex-direction: column;

            margin-top: 50px;

            background-color: var(--bgColor);

            padding: 15px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

            .videoContainer{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .video{

                }

                .articleContianer{
                    width: 50%;
                    align-self: self-start;
                    padding: 0 30px;
                    .videoSubtitle{

                        h2{
                            font-size:24px;
                            font-weight: var(--fontWeightTitle);
                            color: #DC2626;


                        }
                    }
                    .videoDate{
                        font-size: 14px;
                        color: var(--colorContent);
                        padding-bottom: 10px;
                        .bx-time-five{
                            color: red;
                        }

                    }
                    .videoDetail{

                        // text-align: justify;
                        font-size: var(--font_text);
                        color: #7D7573;
                        // display: flex;

                        &.vd2,&.vd3{
                            display: none;
                        }
                    }
                    .seeMorevideo{
                        width: 100%;
                        display: flex;
                        justify-content: end;
                        button{
                            cursor: pointer;
                            padding: 10px;
                            font-size: 15px;
                            background-color: red;
                            outline: none;
                            border: none;
                            border-radius: 5px;
                            a{
                                text-decoration: none;
                                color: white;
                            }
                            &:hover{
                                background-color:rgba(255, 0, 0, 0.692);
                            }
                        }
                    }
                }
            }
        }

        // ------------------ activity
        .activitySection{
            width: 100%;
            margin-top: 20px;
            .activityContainer{
                width: 100%;
                width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                .activityImage{
                    width: 50%;
                    height: 75vh;
                    background-color: black;
                    position: relative;
                    img{
                        width: 100%;
                        height: 100%;
                        opacity: 0.7;
                    }
                    .activitytext{
                        width: 70%;
                        position: absolute;
                        bottom: 10%;
                        left: 15%;
                        // translate: -50% 0;
                        // padding: 30px 10px;
                        color: white;

                        .activitySubtittle{
                            font-size: 24px;
                            font-weight: 600;

                        }
                        .activityDetail{
                            font-size: var(--font_text);
                            text-align: justify;
                        }
                    }
                }
            }
        }


        //------------------- team
        .teamsSection{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 15px;
            .teamsTitle{
                padding: 50px 0 35px 0;

                h1{
                    font-size: var(--font_title);
                    font-weight: var(--fontWeightTitle);
                    color: red;

                }
            }
            .teamContainer{
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2,1fr);

                gap: 20px;

                .teamCard{
                    width: 100%;
                    height: 70vh;
                    border-radius: 5px;
                    background-color: var(--bgColor);
                    cursor: pointer;
                    position: relative;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
                    a{
                        width: 100%;
                        height: 100%;
                        text-decoration: none;
                        color: black;
                        .teamImage{
                            width: 100%;
                            height: 55%;
                            position: relative;

                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 5px 5px 0 0;

                            }
                            .grayScreen{
                                display: none;

                            }
                        }
                        .teamDetail{
                            width: 60%;
                            // height: 40%;
                            background-color: white;
                            background-color: #0d3d54f7;
                            position: absolute;
                            top: 70%;
                            left: 50%;
                            translate: -50% -50%;
                            padding: 10px 20px 20px 20px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            .teamSubtitle{
                                font-size: 28px;
                                font-weight: 700;
                                padding-bottom:20px;
                                color: #DC2626;
                            }
                            .aboutTeam{
                                text-align: center;
                            }
                        }
                    }
                    &.teamCard:hover{

                        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
                        a{
                            .teamImage{
                                .grayScreen{
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                    position: absolute;
                                    top: 0;
                                    background-color:rgba(0, 0, 0, 0.300);
                                    border-radius: 5px 5px 0 0;

                                }
                            }
                            .teamDetail{
                                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
                                border-radius: 5px;
                            }
                        }
                    }
                }

            }

        }
        // ------------------ about, impact, achievement
        .aboutUsImpactAchievement{
            padding: 20px ;

            .aboutImpactAchieveContainer{

                display: flex;
                border: 1px solid #DC2626;
                border-radius: 5px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

                .content{
                    position: relative;
                    width: 50%;
                    height: 60vh;
                    color: white;

                    img{
                        width: 100%;
                        height: 100%;
                        opacity: 0.85;
                        border-radius:  5px 0 0 5px;

                    }
                    .subtitleNumContainer{
                        position: absolute;
                        bottom: 5%;

                        font-size:18px;
                        padding: 0 50px;
                        opacity: 1;

                    }


                    &.contentImg{
                        background-color: black;
                        border-radius:  5px 0 0 5px;

                    }
                    &.contentBg1{
                        display: grid;
                        grid-template-columns: repeat(3,1fr);
                        border-left: none;
                        border-radius: 0 5px 5px 0;
                        .contentContainer{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            background-color: var(--bgColor);
                            border-radius: 0 5px 5px 0;

                            .num{
                                font-size: 32px;
                                color: #DC2626;
                            }
                            .subtitle{
                                font-size: 15px;
                                color:#A8A196;
                            }
                        }
                        .achievmentTitle{
                            grid-column: 1/ span 3;
                            background-color: #DC2626;
                            border: 2px solid white;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: var(--font_title);
                        }

                    }
                }

            }
        }
        // ------------------ partner
        .partnerSection{
            padding: 30px 0;

            .title{
                text-align: center;
                padding: 30px 0;
                font-size: var(--font_title);
                font-weight: var(--fontWeightTitle);
                color: #DC2626;

            }
            .partnerContainer{

                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;

                .partner{
                    width: 15%;

                    img{
                        width: 100%;
                        aspect-ratio: 3/2;
                        object-fit: contain;
                        mix-blend-mode:darken;

                    }

                }
            }

        }
        // ------------------ sponsor
        .sponsorSection{
            padding: 30px 0;

            .title{
                text-align: center;
                padding: 30px 0;
                font-size: var(--font_title);
                font-weight: var(--fontWeightTitle);
                color: #DC2626;
            }
            .sponsorContainer{

                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                .sponsor{
                    width: 15%;

                    img{
                        width: 100%;
                        aspect-ratio: 3/2;
                        object-fit: contain;
                        mix-blend-mode:darken;

                    }

                }
            }

        }

    }
}
// ------------ to top
.to_top{
    background-color: rgba(128, 128, 128, 0.635);
    border: 2px solid white;
    position: fixed;
    bottom: 16px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: var(--bgForcus);
    pointer-events: none;
    transition: all .5s;
    opacity: 0;
    text-decoration: none;
    z-index: 20;
    &:hover{
        color: white;
        border-color: red;
    }
}
.to_top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
    z-index: 7;
}

html{
    scroll-behavior: smooth;
}

// tablet responsive
@media (max-width: 834px) {
    .home_wrapper{

        main.mainContainer{
            width: 100%;
            height: 100%;


            // ----------------- program
            .programSection{

                    .programContainer{
                        display: grid;
                        grid-template-columns: repeat(3,auto);
                        gap: 20px;

                        .programCard{
                            width: 100%;
                        }
                    }
            }


            // ------------------ video
            .videoSection{
                width: 98%;
                margin:0 20px;

                .videoContainer{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .video{
                        width: 100%;
                        iframe{
                            width:100%;
                            height:255px;
                        }
                    }
                    .articleContianer{
                        width: 100%;
                        .videoDetail{

                            display: none;

                            &.vd2{
                                display: block;
                            }
                        }

                    }

                }
            }
            // ------------------ activity
            .activitySection{
                .activityContainer{
                        .activityImage{
                            .activitytext{
                                width: 98%;
                                padding: 10px;
                                bottom: 5px;
                                left: 10px;


                                .activitySubtittle{
                                    font-size: 20px;

                                }
                                .activityDetail{
                                    font-size: 13px;
                                }
                            }
                        }
                }
            }

            //------------------- team
            .teamsSection{
                .teamContainer{
                    gap: 10px;
                    .teamCard{
                        height: 70vh;
                        a{
                            .teamDetail{
                                .teamSubtitle{
                                    font-size: 16px;
                                }
                                .aboutTeam{
                                    text-align: center;
                                    font-size: 13px;
                                }
                            }
                        }

                    }

                }

            }

            // ------------------ about, impact, achievement
            .aboutUsImpactAchievement{
                .aboutImpactAchieveContainer{
                    .content{
                        &.contentBg1{
                            .contentContainer{
                                .num{
                                    font-size: 24px;
                                }
                                .subtitle{
                                    font-size: 12px;
                                }
                            }
                            .achievmentTitle{
                                font-size: 24px;
                            }

                        }
                    }

                }
            }

        }


    }
}
// mobie responsive
@media (max-width: 430px) {
    :root{
        --font_title:24px;

    }
    .home_wrapper{
        main.mainContainer{
            width: 100%;
            height: var(--slideHeight);
            .slideShow{
                width: 100%;
                height: 200px;
                display: flex;

            }
            // ------------------ program
            .programSection{

                    .programContainer{
                        display: grid;
                        grid-template-columns: repeat(1,auto);
                        gap: 20px;

                        .programCard{
                            width: 100%;
                            // height: 35vh;
                            background-color: var(--bgColor);
                            padding: 30px;
                            cursor: pointer;
                            a{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                .programObject{
                                    width: 30%;

                                }
                                .subtitleDetail{
                                    width: 70%;

                                }
                            }

                        }
                    }
            }

            // ------------------ video
            .videoSection{
                width: 100%;
                margin: 0;
                padding:0 ;
                .videoContainer{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .video{
                        width: 100%;
                        iframe{
                            width:100%;
                            height:255px;
                        }
                    }
                    .articleContianer{
                        width: 100%;

                        padding: 10px 30px;

                        .videoDate{
                            font-size: 14px;
                            color: var(--colorContent);
                            padding-bottom: 10px;

                        }
                        .videoDetail{

                            text-align: justify;
                            display: none;

                            &.vd2{
                                display: none;
                            }
                            &.vd3{
                                display: block;
                            }
                        }
                        .seeMorevideo{
                            width: 100%;
                            display: flex;
                            justify-content: end;

                        }

                    }
                }
            }
            // ------------------ activity
            .activitySection{
                .activityContainer{
                        display: block;

                        .activityImage{
                            width: 100%;


                            .activitytext{
                                width: 100%;
                                padding: 10px;
                                bottom: 0;
                                left: 0;


                                .activitySubtittle{
                                    font-size: 20px;

                                }
                                .activityDetail{
                                    font-size: 13px;
                                }
                            }
                        }
                }
            }
            //------------------- team
            .teamsSection{
                .teamContainer{
                    display: grid;
                    grid-template-columns: repeat(1,auto);
                    gap: 10px;
                }

            }
            // ------------------ about, impact, achievement
            .aboutUsImpactAchievement{
                padding: 15px ;
                .aboutImpactAchieveContainer{
                    display: block;
                    .content{
                        width: 100%;
                        img{
                            border-radius:  5px 5px 0 0;
                        }
                        &.contentImg{
                            border-radius:  5px 5px 0 0;
                        }
                        &.contentBg1{
                            border-radius:  5px ;
                            .contentContainer{
                                border-radius:  5px;

                                .num{
                                    font-size: 28px;
                                    color: #DC2626;
                                }
                                .subtitle{
                                    font-size: 13px;
                                    color:#A8A196;
                                }
                            }


                        }
                    }

                }
            }

        }

    }
}
